<% provide(:title, 'Contact Us') %>

<h1>Contact Us</h1>

  <p>
    You can contact us by sending us an email which can probably be
    found on the <a href="http://railstutorial.org/">Rails Tutorial</a>
    website.  If you can't find it there, I'm sure you can find something
    on Google.  I mean <a href="http://google.com">Google</a> knows everything!
  </p>
